#content {
    background-color: #eee;
    border: 1px solid #DFDFDF;
    padding: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    word-wrap: break-word;
}

table.kode {
    border-collapse: collapse;
}

.kode td {
    border: 1px solid black;
    width: 3em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
}

.kode th {
    border: 1px solid black;
    width: 3em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
}

.blank {
    border: none !important;
}
