{% extends "KodeBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
<form>
<input type="button" value="New Game">
<div id="kode_board">
Kode Board
</div>
<input type="button" value="Run">
</form>
{% endblock %}
